@use 'sass:color';

$b: '.cs-button';

#{$b} {
  background-color: $color-primary;
  color: $color-white;
  font-weight: 500;
  text-transform: uppercase;
  height: 46px;
  border-radius: $border-radius;
  transition: background-color $transition-duration;

  &:hover,
  &:active {
    background-color: $color-primary-light;
  }

  &--grey {
    background-color: $color-bluegrey-600;

    &:hover,
    &:active {
      background-color: lighten($color-bluegrey-600, 30%);
    }
  }

  &--danger {
    background-color: $color-danger;

    &:hover,
    &:active {
      background-color: $color-red-300;
    }
  }
}