$b: '.cs-comment';

#{$b} {
  &__container {
    @include card;
    display: grid;
    column-gap: 25px;
    grid-template-columns: auto 1fr;
    margin-bottom: 8px;

    @include breakpoint(sm) {
      grid-template-columns: min-content auto;
      column-gap: 15px;
      row-gap: 15px;
    }
  }

  &__content {
    grid-column: 2 / 3;
    display: grid;
    row-gap: 15px;

    @include breakpoint(sm) {
      grid-column: 1 / -1;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 15px;
    align-items: center;
  }

  &__user {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 15px;
  }

  &__user-picture {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    overflow: hidden;
  }

  &__user-name {
    font-weight: 500;
    color: $color-bluegrey-800;

    .you {
      &:not(:empty) {
        color: $color-white;
        background-color: $color-primary;
        font-size: 14px;
        padding: 0 4px;
        border-radius: 2px;
      }
    }
  }

  &__date {
    color: $color-bluegrey-600;
  }

  &__mention {
    font-weight: 500;
    color: $color-primary;

    &:not(:empty)::before {
      content: '@';
    }
  }

  &__rating {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    @include breakpoint(sm) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      width: 96px;
    }
  }

  &__actions {
    &--mobile {
      display: none;
      grid-column: 2 / -1;
      justify-self: end;

      @include breakpoint(sm) {
        display: block;
      }
    }

    &--desktop {
      @include breakpoint(sm) {
        display: none;
      }
    }
  }

  &__actions-btn {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 8px;
    align-items: center;
    color: $color-primary;
    font-weight: 500;
    transition: color $transition-duration;

    &:hover,
    &:active {
      color: $color-primary-light;

      img {
        opacity: 0.4;
      }
    }

    img {
      transition: opacity $transition-duration;
    }

    &#{$b}__delete-btn {
      color: $color-danger;

      &:hover,
      &:active {
        color: $color-danger-light;
      }
    }
  }

  &__edit-delete {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 24px;

    @include breakpoint(sm) {
      column-gap: 15px;
    }
  }

  &__replies {
    margin-left: 42px;
    padding-left: 42px;
    border-left: 2px solid $color-grey-400;

    @include breakpoint(sm) {
      margin-left: 0;
      padding-left: 15px;
    }
  }

  &__reply-form {
    margin-bottom: 18px;
  }
}