$b: '.cs-modal';

#{$b} {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: grid;
  align-items: center;
  justify-items: center;

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__window {
    @include card;
    position: relative;
    padding: 32px;
    width: 400px;
  }

  &__heading {
    font-size: 24px;
    color: $color-bluegrey-800;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 24px;
  }

  &__actions {
    display: grid;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr;
  }
}