$b: '.cs-rating';

#{$b} {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  border-radius: 10px;
  background-color: $color-grey-200;
  overflow: hidden;

  @include breakpoint(sm) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  &__btn,
  &__number {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  &__btn {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 40px;
    height: 34px;

    svg path {
      transition: fill $transition-duration;
    }

    &:hover,
    &:active,
    &--active {
      svg path {
        fill: $color-primary;
      }
    }
  }

  &__number {
    color: $color-primary;
    font-weight: 500;
  }
}
