body {
  @include font-smoothing;

  background-color: $color-grey-200;
  font-family: $font-rubik;
  font-size: $font-size;
  line-height: 1.5;
  color: $color-bluegrey-600;

  &.--cs-modal-open {
    overflow: hidden;
    padding-right: 16px;

    @include breakpoint(sm) {
      padding-right: 0;
    }
  }
}

::selection {
  background-color: $color-blue-500;
  color: $color-grey-200;
}